.updateBlog-form{
    width: 800px;
    margin: 50px auto;
}
.updateBlog-form input{
    width: 100%;
    height: 40px;
    outline: none;
    margin: 20px 0px;
    padding: 0 15px;
    border: 1px solid black;
}
.updateBlog-button{
    display: block;
    width: 150px;
    height: 50px;
    margin: 20px auto;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(86, 241, 203);
    border-radius: 15px;
    border: none;
    outline: none;
}
.updateBlog-content{
    width: 100%;
    height: 300px;
    outline: none;
    padding: 15px 15px;
}