.container{
    width: 80%;
    margin: 0 auto;
    background-color: #fcfaf6;
}
.content{
    background-color: #fcfaf6;
}
.icon-fix svg{
    width: 25px;
    height: 25px;
    color: #93908a;
}
.avatar .ant-avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.comment-detailblog{
    display: flex;
    margin-bottom: 20px;
}
.comment-detailblog input{
    margin-left: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.comment-detailblog span{
    width: 35px;
    height: 35px;
    font-size: 25px;
    color: brown;
}
.avatar .ant-avatar-string{
    font-size: 19px;
}
.detailBlog-commentContent{
    display: block;
}
@media screen and (max-width: 576px){
    .container{
        width: 95%;
        margin: 0 auto;
        background-color: #fcfaf6;
    }
}
