.ant-layout-header{
    position: relative;
    box-shadow: 5px 0px 10px rgb(128, 95, 95);
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.baselayout-header-select{
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
    margin-top: 12px;
    width: 40px;
    height: 40px;
    background-color: rgb(184, 190, 184);
    color: rgb(230, 70, 78);
    font-size: 25px !important;
}
.baselayout-header-select span{
    display: inline-block;
    margin-top: 4px;
}
.baselayout-header-select:hover{
    background-color: rgb(238, 235, 235);
}
.baselayout-select{
    display: none;
    position: absolute;
    padding: 20px 0px;
    top: 65px;
    right: 10px;
    width: 240px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px;
    box-shadow: 1px 1px 4px 2px #888888;
}
.baselayout-select p{
    padding: 0 15px;
    height: 60px;
    font-size: 18px;
    margin: 0;
}
.baselayout-select p:hover{
    cursor: pointer;
    background-color: rgb(241, 241, 241);
}
.baselayout-select span{
    margin-right: 5px;
}
.baselayout-select svg{
    display: inline-block;
    margin-top: 4px !important;
    color: rgb(54, 42, 42);
    font-size: 22px !important;
}

.baselayout-header-response{
    margin-left: 20px;
    cursor: pointer;
    display: none !important;
    color: black;
    font-size: 25px;
}
.baselayout-header-response svg{
    color: black;
    font-size: 25px;
}
.baselayout-drawer{
    font-size: 16px;
}
.baselayout-drawer p:hover{
    color: white;
    background-color: rgb(161, 161, 161);
}
.baselayout-drawerselect svg{
    font-size: 20px;
    margin-top: 2px;
    margin-right: 10px;
}

.ant-menu.ant-menu-dark{
    display: inline-block;
    background-color: #fff;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item{
    font-size: 16px;
    color: rgb(43, 40, 40);
}
.ant-menu-item:hover{
    background-color:  rgb(240, 239, 239) !important;
}
.logo-header{
    width: 120px;
    height: 50px;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected{
    background-color: rgb(250, 240, 240);
}
.ant-layout-content{
    width: 100% !important;
    margin-top: 65px;
    background-color: #fff;
}
.baselayout-time{
    margin: 0 20px;
    font-size: 14px;
}
.ant-layout-footer{
    padding: 0 50px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
}

@media screen and (max-width: 768px){
    .ant-layout-content{
        width: 100% !important;
        margin-top: 65px;
        background-color: #fff;
    }
    .ant-menu-dark.ant-menu-horizontal > .ant-menu-item{
        padding: 0;
        width: 120px;
        text-align: center !important;
    }
}
@media screen and (max-width: 576px){
    .ant-menu-dark.ant-menu-horizontal > .ant-menu-item{
        display: none !important;
    }
    .baselayout-header-select{
        display: none;
    }
    .baselayout-header-response{
        margin-left: 150px;
        display: inline-block !important;
    }
}
@media screen and (max-width: 480px){
    .baselayout-time{
        margin: 0 10px;
    }
    .baselayout-header-response{
        margin-left: 60px;
    }
}
@media screen and (max-width: 425px){
    .baselayout-header-response{
        margin-left: 30px;
    }
}
@media screen and (max-width: 375px){
    .baselayout-header-response{
        margin-left: 15px;
    }
}
@media screen and (max-width: 320px){
    .baselayout-time{
        display: none;
    }
    .baselayout-header-response{
        margin-left: 80px;
    }
}