
.ant-layout-header{
    position: relative;
    box-shadow: 5px 0px 10px rgb(128, 95, 95);
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.baselayout-header-logout{
    position: absolute;
    top: 0;
    right: 50px;
    cursor: pointer;
    margin-top: 12px;
    width: 130px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(178, 236, 173);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(82, 80, 80);
}
.baselayout-header-logout:hover{
    background-color: rgb(221, 219, 219);
    color: rgb(82, 82, 231);
}
.baselayout-header-response{
    margin-left: 20px;
    cursor: pointer;
    display: none !important;
    color: black;
    font-size: 25px;
}
.baselayout-header-response svg{
    color: black;
    font-size: 25px;
}
.baselayout-drawer{
    font-size: 16px;
}
.baselayout-drawer p:hover{
    color: white;
    background-color: rgb(161, 161, 161);
}
.baselayout-drawerlogout svg{
    font-size: 20px;
    margin-top: 2px;
    margin-right: 10px;
}

.ant-menu.ant-menu-dark{
    display: inline-block;
    background-color: #fff;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item{
    color: rgb(43, 40, 40);
}
.ant-menu-item:hover{
    background-color:  white !important;
}
.logo-header{
    width: 100px;
    height: 50px;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected{
    background-color: rgb(235, 217, 235);
}
.ant-layout-content{
    width: 100% !important;
    margin-top: 65px;
    background-color: #fff;
}
.ant-layout-footer{
    padding: 0 50px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
}

@media screen and (max-width: 768px){
    .ant-layout-content{
        width: 100% !important;
        margin-top: 65px;
        background-color: #fff;
    }
    .ant-menu-dark.ant-menu-horizontal > .ant-menu-item{
        padding: 0;
        width: 70px;
        text-align: center !important;
    }
}
@media screen and (max-width: 576px){
    .ant-menu-dark.ant-menu-horizontal > .ant-menu-item{
        display: none !important;
    }
    .baselayout-header-response{
        display: inline-block !important;
    }
}
@media screen and (max-width: 375px){
    .baselayout-header-logout{
        display: none;
    }
    .baselayout-header-response{
        margin-left: 120px;
    }
}
@media screen and (max-width: 320px){
    .baselayout-header-response{
        margin-left: 80px;
    }
}