*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.update-avarta{
    font-size: 18px;
    width: 80%;
    margin: 100px auto;
    text-align: center;
}
.update-avarta p{
    margin-top: 15px;
}
.update-avarta input{
    width: 300px;
    height: 40px;
    outline: none;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
}

.avarta-user{
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
    color: rgb(223, 107, 54);
}
.update-avarta button{
    width: 150px;
    height: 50px;
    font-size: larger;
    color: white;
    background-color: rgb(112, 214, 54);
    margin-top: 15px;
    border: none;
    outline: none;
    border-radius: 15px;
}

@media screen and (max-width: 330px){
    .update-avarta{
        width: 95%;
    }
}