*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containe{
    width: 80% !important;
    margin: 0 auto;
}
.camera {
    position: relative;
    top: 35px;
    right: 25px;
    width: 30px;
    height: 30px;
    background-color: #8cc848;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
  }
  .content{
      background: white;
  }
.ant-upload-list-item-name{
    display: none;
}
.ant-upload-list-text-container{
    display: none;
}
.ant-message{
    display: none;
}