.users{
    padding: 20px 0px;
}
.ant-table-thead > tr > th{
    text-align: center;
}
.ant-table table{
    text-align: center;
}
.ant-table-pagination.ant-pagination{
    justify-content: center;
}
.user-findUser{
    margin: 30px 10px 10px 0px;
    display: flex;
    justify-content: flex-end;
}
.user-findUser input{
    border: 1px solid rgb(31, 30, 30);
    width: 250px;
    height: 30px;
    padding: 4px 15px;
    border-radius: 15px 15px;
    margin-top: 2px;
    outline: none;
}
.user-findUser button{
    width: 35px;
    height: 35px;
    font-size: 22px;
    margin-left: 10px ;
    background-color: rgba(212, 208, 208, 0.925);
    color: rgb(87, 85, 219);
    border: none;
    outline: none;
    border-radius: 20px 20px;
    cursor: pointer;
}
.user-findUser button:hover{
    background-color: rgb(238, 236, 236);
}
.ant-modal-footer button{
    display: inline-block;
}
.ant-modal-footer span{
    font-size: 15px;
}